# To update requirements.txt for praxis and paxml, run:
# bash ./compile_requirements.sh

absl-py
clu @ git+https://github.com/google/CommonLoopUtils
etils
flax
graphviz
jax
# lingvo
numpy
orbax-checkpoint @ git+https://github.com/google/orbax/#subdirectory=checkpoint
praxis
protobuf
pyglove
seqio-nightly
tensorflow
tensorflow-text
tensorstore
tensorflow-datasets
tfds-nightly
tensorflow-metadata
